// ==============================================================
// GLOBAL VARIABLES
// ==============================================================

// Font Variables

$font-url--monospace: "https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600";
$font-url--sans-serif: "https://fonts.googleapis.com/css?family=Raleway:700";
$font-family--primary: 'Source Code Pro', monospace;
$font-family--secondary: 'Raleway', sans-serif;

$font-size--base: 16px;

$font-weight--primary: 400;
$font-weight--secondary: 600;



// Color Variables

$white: #fff;
$grey: #eee;
$black: #000;
$orange: #ef9c0f;

$color--played: $grey;
$color--playing: $orange;
$color--unplayed: $black;
$color--background: #edeff0;



// Tablet Breakpoint

$bp--tablet: 768px;
$bp--desktop: 1322px;