// ==============================================================
// TYPOGRAPHY STYLES
// ==============================================================

.transcript {
  & * {
    font-family: $font-family--primary;
    font-weight: $font-weight--primary;
  }
}

.played {
  color: $color--played;
  font-weight: $font-weight--primary;
}

.playing {
  color: $color--playing;
  font-weight: $font-weight--secondary;
}